<div>
    <event-navbar></event-navbar>
</div>
<div class="margin-top-55"></div>
<div class="container">
    <div class="bg-dark">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="text-dafault pull-left"> MARATHON INDIA - 2016</h1><br>
                <span class="pull-right">
                    Registrations open for 2016 Marathon <a href="#/join" class="btn btn-danger btn-md">Join Now</a>
                </span>
            </div>
        </div>
    </div>
</div>
<div id="myCarousel" class="carousel slide header-content" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="assets/img/marathon/marathon2.jpg" alt="Test 1">
            <div class="carousel-caption">
                <h1>RACES</h1>
                <h3>The Marathon India – Full Marathon is a 42.2 Km point-to-point road race, taking runners on a journey through Hyderabad</h3>
            </div>
        </div>

        <div class="item">
            <img src="assets/img/marathon/marathon3.jpg" alt="Test 2">
            <div class="carousel-caption">
                <h3>PACERS</h3>
                <h3>Choose your pacer bus and achieve that PB you’ve been waiting for! Pacer Buses available- 4 hours, 4.30 hours, 5 hours, 5.30 hours</h3>
            </div>
        </div>

        <div class="item">
            <img src="assets/img/marathon/marathon5.jpg" alt="Test 3">
            <div class="carousel-caption">
                <h3>PRIZES</h3>
                <p>Only Elites are eligible for the prize money. Prize money is in Indian Rupees. Tax will be deducted at source. Please refer Elites</p>
            </div>
        </div>
    </div>
</div>

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">EVENT INFORMATION</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4>HALF MARATHON</h4>
                <hr class="light">
                <p class="text-faded">
                    Distance : 21.097 km
                </p>
                <p class="text-faded">
                    Age limit : 18 years
                </p>
                <p class="text-faded">
                    Start Date :  25th AUG, 2016
                </p>
                <p class="text-faded">
                    End Date : 30th AUG, 2016
                </p>
                <a href="#" class="btn btn-default btn-xl">Race Results</a>
            </div>
            <div class="col-lg-4 text-center">
                <h4>SR. CITIZENS’ RUN</h4>
                <hr class="light">
                <p class="text-faded">
                    Distance : 4 km
                </p>
                <p class="text-faded">
                    Age limit : 60 years
                </p>
                <p class="text-faded">
                    Start Date :  25th AUG, 2016
                </p>
                <p class="text-faded">
                    End Date : 5th SEP, 2016
                </p>
                <a href="#" class="btn btn-default btn-xl">Race Results</a>
            </div>
            <div class="col-lg-4 text-center">
                <h4>DHL CORPORATE CHAMPIONS</h4>
                <hr class="light">
                <p class="text-faded">
                    Distance : 21.097 km
                </p>
                <p class="text-faded">
                    Age limit : 18 years
                </p>
                <p class="text-faded">
                    Start Date :  25th AUG, 2016
                </p>
                <p class="text-faded">
                    End Date : 30th SEP, 2016
                </p>
                <a href="#" class="btn btn-default btn-xl">Race Results</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">OUR SPONSORS & PARTNERS</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-youtube wow bounceIn text-primary"></i>
                    <h3>Media Partner</h3>
                    <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-git-square wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Repository Partner</h3>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-windows  wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Resource</h3>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-css3 wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Design Partner</h3>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
<div class="container bg-primary" >
    <br>
    <div class="row">
        <div class="col-sm-6 pull-left">
            <h1>Hyderabad Marathon</h1>
            <h3 class="text-faded">
                Held in 2015
            </h3>
            <h5> SPONSORS by AIRTEL INDIA</h5>
        </div>
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3" style="padding-bottom: 37%; !important;">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/rXlSSbRuykI"></iframe>
            </div>
        </div>
    </div>
    <br>
</div>
    <a class="pull-right" href="#" title="Top"> Top</a>
</section>
