<div>
    <event-navbar></event-navbar>
</div>
<div class="margin-top-55"></div>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch</h2>
                <hr>
                <p></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>(+91) 9866970525</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:jinna.balu@outlook.com">jinna.balu@outlook.com</a></p>
            </div>

            <div class="col-lg-4 text-center">
                <i class="fa fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a target="_blank" href="https://www.linkedin.com/in/jinna-balu-20368995">Jinna Balu</a></p>
            </div>
        </div>
    </div>
</section>