<div>
    <event-navbar></event-navbar>
</div>
<div class="margin-top-55"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-box">
                <div class="form-top  bg-danger">
                    <div class="form-top-left">
                     </div>
                    <form name="volunteerForm" ng-submit="saveVolunteer()" novalidate>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="firstName" data-ng-model="volunteer.firstName" class="form-last-name form-control"
                                           placeholder="First name..." id="firstName">
                                    <span data-ng-show="volunteerForm.firstName.$dirty && volunteerForm.firstName.$invalid">
                                        <span class="error" data-ng-show="volunteerForm.firstName.$error.required">Please enter candidate first name.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="form-last-name" data-ng-model="volunteer.lastName" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="form-email" data-ng-model="volunteer.email" placeholder="Email..." class="form-email form-control" id="form-email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <label class="radio-inline"><input type="radio" name="gender" value="Male" ng-model="volunteer.gender">Male</label>
                                    <label class="radio-inline"><input type="radio" name="gender" value="Female" ng-model="volunteer.gender">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <label> Related Exp.</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="checkbox" value="regularRunner" data-ng-model="volunteer.regularRunner"> Regular Runner
                                        </div>
                                        <div class="col-lg-1">
                                            <input type="checkbox" value="racer" data-ng-model="volunteer.racer"> Racer
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="checkbox" value="previousParticipant" data-ng-model="volunteer.previousParticipant"> Participated Marathon before
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="form-about-yourself" placeholder="About yourself..."
                                      class="form-about-yourself form-control" id="form-about-yourself"
                                      data-ng-model="volunteer.about"></textarea>
                        </div>
                        <button type="submit" class="btn-xl btn-danger">Join!</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
